<button class="green" id="scrape">Scrape /r/ProgrammerHumor</button>
{{!-- <button id="scrape">Scrape</button> --}}
{{#each post}}
<div class="container">

    <div class="post slide">
        <h2 class="outline">{{this.title}}</h2>
        <img class="img" src="{{this.image}}">
        <a class="link uk-button" href="{{this.link}}"><i class="fa fa-reddit" style="font-size:40px;color:red"></i>Reddit Post</a>
    </div>
    <div class="note">
        <form class="form" id="{{this._id}}">
            <fieldset class="uk-fieldset">
                <legend class="uk-legend outline">Note</legend>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Title" value="{{this.note.title}}">
                </div>
                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="5" placeholder="Body">{{this.note.body}}</textarea>
                </div>
            </fieldset>
            <button class="green" type="submit"><span uk-icon="icon: pencil; ratio: 2"></span></button>
        </form>
    </div>

</div>
{{/each}}